
@{
    ViewData["Title"] = "Index";
}

<head>
    <title>Game of Life signin page</title>
</head>

<body>

    <form name="login" method="post" action="~/gameOfLife.html">
        <p>LOGIN</p>
        <p>USERNAME:</p>
        <input type="text" id="username" value="">
        <p>COLOR:</p>
        <input type="color" id="userColor" value="">
        <p></p>
        <input type="submit" value="Login">
    </form>

</body>

