@model GameOfLife.Models.UserInfo;
@{
    ViewData["Title"] = "Index";
}

<head>
    <title>Game of Life signin page</title>
</head>

<body>
    <fieldset>
        <legend>Sign Up</legend>
        <table>
            <tr>
                <td>
                    @Html.Label("User Name")
                </td>
                <td>
                    @Html.TextBoxFor(account => Model.userName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Color")
                </td>
                <td>
                    <input type="color" name="userColor" id="userColor" value="">
                    Request.Form""
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="btnSubmit" value="Play" />
                </td>
            </tr>
        </table>
    </fieldset>

</body>

